<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <form class="mt-4">
            <div v-if="errors.length != 0">
                <h5>Error</h5>
                <ul v-for="error of errors">
                  <li>
                      <small class="text-danger">
                          {{ error }}
                      </small>   
                  </li>
                </ul>  
            </div>
            <div class="form-group">
              <label>Nama</label>
              <input type="text" :disabled="status == 'upload'" class="form-control" v-model="name">
            </div>
            <div class="form-group">
              <label>Alamat</label>
              <textarea type="text" :disabled="status == 'upload'" class="form-control" v-model="address"></textarea>
            </div>
            <div class="form-group">
                <label>No. Telp</label>
                <input type="text" :disabled="status == 'upload'" class="form-control" v-model="no_hp">
            </div>
            <button v-if="status == 'submit'" type="button" class="btn btn-primary" @click="addMember">Submit</button>
            <div v-else-if="status == 'edit'">
                <button type="button" class="btn btn-primary" @click="updateMember">Update</button>
                <button type="button" class="btn btn-outline-primary" @click="clearData">Cancel</button>
            </div>
            <div v-else>
                <input type="file" name="photo" ref="photo" class="mb-4"><br>
                <button type="button" class="btn btn-primary" @click="uploadImage">Upload</button>
                <button type="button" class="btn btn-outline-primary" @click="clearData">Cancel</button>
            </div>
        </form><br>

        <table class="table mt-4">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">No. Hp</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody v-for="(member, index) of members">
              <tr>
                <td><img width="100" :src="member.photo_profile ? image_url + member.photo_profile : 'https://dummyimage.com/600x400/000/fff'" alt=""></td>
                <td>{{ member.name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.no_hp }}</td>
                <td>
                    <button type="button" class="btn btn-warning" @click="edit(member)">Edit</button>
                    <button type="button" class="btn btn-danger" @click="deleteMember(member.id)">Delete</button>
                    <button type="button" class="btn btn-info" @click="addImage(member)">Upload Foto</button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                name: '',
                address: '',
                no_hp: '',
                photo_profile: null,
                image_url: 'https://demo-api-vue.sanbercloud.com/',
                status: 'submit',
                id: null,
                members: [],
                errors: []
            },
            methods: {
                validationForm : function() {

                    this.errors = []
                
                    if (this.name === '') {
                        this.errors.push("Name tidak boleh kosong!")
                    }
                    if (this.address == '') {
                        this.errors.push("Alamat tidak boleh kosong!")
                    }
                    if (this.no_hp == '') {
                        this.errors.push("No. Telp tidak boleh kosong!")
                    }
                },
                getAllMember : function() {

                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then( (response) => {
                            this.members = response.data.members
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                addMember : function() {

                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then( (response) => {
                                this.clearData()
                                this.getAllMember()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error)
                            })
                    }
                },
                edit : function(member) {
                    this.id = member.id
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.status = 'edit'
                },
                updateMember : function() {

                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${this.id}`,
                            params: {_method : "PUT"},
                            data: formData
                        }

                        axios(config)
                            .then( (response) => {
                                this.clearData()
                                this.getAllMember()
                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error)
                            })
                    }
                },
                addImage : function(member) {
                    this.id = member.id
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.status = 'upload'
                },
                uploadImage : function() {

                    let image = this.$refs.photo.files[0]
                    
                    let formData = new FormData()
                    formData.append('photo_profile', image)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${this.id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then( (response) => {
                            this.clearData()
                            this.getAllMember()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                deleteMember : function(id) {

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {_method : "DELETE"}
                    }

                    axios(config)
                        .then( (response) => {
                            this.getAllMember()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                },
                clearData : function() {
                    this.id = null
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.status = 'submit'
                }
            },
            created() {
                this.getAllMember()
            }
        })
    </script>
</body>
</html>