<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openform()" v-model.number="a">Open Form</button>
        <h2>Nilai a : {{ a }}</h2>
        <h2>Rata rata : {{ rata }}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a : 0,
                rata : 0
            },
            methods : {
                openform : function() {
                    var count = 0
                    while (this.a < 10) {
                        var num = prompt("Masukkan Nilai a!")
                        this.a += Number(num)
                        count++
                    }
                    this.rata = this.a/count
                }
            }
        })
    </script>
</body>
</html>