<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <input id="inputname" type="text" :value="name" v-model="name">
            <button v-if="isEdit" @click="updateItem">Update</button>
            <button v-else @click="addItem">Add</button>
        </div>
        <div class="margin-top-13">
            <ul v-for="(people, index) in peoples">
                <li :key="index">
                    {{ people.name }} 
                    <button @click="editItem(index)">Edit</button>
                     || 
                    <button @click="deleteItem(index)">Delete</button>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let vue = new Vue({
            el: '#app',
            data: {
                name: null,
                isEdit: false,
                editIndex: 0,
                peoples: [
                    { name: 'Muhammad Iqbal Mubarok' },
                    { name: 'Ruby Purwanti' },
                    { name: 'Faqih Muhammad' }
                ] 
            },
            methods : {
                addItem : function() {
                    if (this.name != null) {
                        this.peoples.push({name: this.name});
                        this.name = ''
                    }
                },
                editItem : function(index) {
                    this.isEdit = true;
                    this.name = this.peoples[index].name;
                    this.editIndex = index;
                },
                updateItem : function() {
                    this.peoples[this.editIndex].name = this.name;
                    this.name = '';
                    this.isEdit = false;
                },
                deleteItem : function(index) {
                    this.peoples.splice(index, 1);
                }
            }
        })
    </script>

    <style>
        li { margin-top: 10px; }
    </style>
</body>
</html>